<h1 class="p-12">Generate JSON with new cards</h1>

<section class="px-12">
    <div class="flex flex-col justify-between items-center">
        <form [formGroup]="form" class="w-full">
            <mat-form-field>
                <mat-label>JSON</mat-label>
                <textarea matInput formControlName="content" class="!h-96" placeholder="Ex. [{ icon: 'home', es: 'Casa', en: 'House' }]" required></textarea>
            </mat-form-field>
            <button [disabled]="!form.valid" mat-raised-button color="primary" (click)="generateJSON()" class="mr-4 mt-2">Generate Cards</button>
            <button mat-raised-button color="primary" class="mr-4 mt-2" (click)="generateCardsWithAI()">Generate Cards with AI</button>
            <button [disabled]="generatedJSON.length === 0" mat-raised-button color="secondary" class="mr-4 mt-2" (click)="uploadCards()">Upload Generated Cards</button>
            <a routerLink="/game" class="text-blue-800">Game</a>
        </form>
    </div>
    <div class="mt-12">
        {{ generatedStringOpenAI }}
        {{ generatedString }}
    </div>
</section>