<h1 class="p-12">Generar JSON con nuevas cartas</h1>

<section class="px-12">
    <div class="flex flex-col justify-between items-center">
        <form [formGroup]="form" class="w-full">
            <div class="mb-4 grid gap-3 md:grid-cols-2">
                <p-floatlabel>
                    <p-select
                        inputId="game-id"
                        formControlName="gameId"
                        [options]="games"
                        optionLabel="label"
                        optionValue="id"
                        appendTo="body">
                    </p-select>
                    <label for="game-id">Juego</label>
                </p-floatlabel>

                <p-floatlabel>
                    <p-select
                        inputId="level-id"
                        formControlName="level"
                        [options]="levels"
                        optionLabel="label"
                        optionValue="id"
                        appendTo="body">
                    </p-select>
                    <label for="level-id">Nivel</label>
                </p-floatlabel>
            </div>

            <p-floatlabel>
                <textarea pTextarea id="generate-json" formControlName="content" class="w-full !h-96" placeholder="Ej. [{ icon: 'home', es: 'Casa', gb: 'House' }]" required></textarea>
                <label for="generate-json">JSON</label>
            </p-floatlabel>
            <div class="mt-4 flex flex-wrap gap-3">
                @if (openAICredentials) {
                    <button pButton type="button" label="Generar cartas con IA" (click)="generateCardsWithAI()"></button>
                }
                <button pButton type="button" severity="secondary" label="Subir cartas" (click)="uploadCards()"></button>
            </div>
            <a routerLink="/game" class="text-blue-800">Partida</a>
        </form>
    </div>
    <div class="mt-12">
        @if (isLoading) {
            <p-progressSpinner strokeWidth="4"></p-progressSpinner>
        } @else {
            {{ generatedString }}
        }
    </div>
</section>
