.card {
  all: unset;
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  cursor: pointer;
  height: 40px;
  min-width: 30%;
  width: 200px;
  margin: 0 8px 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;

  svg.material-icons path {
    fill: #888;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }
}

.card.highlight-card {
  background-color: #1976d2;
  border: 1px solid #027af3;
  color: white;
  font-weight: 600;
  position: relative;

  svg.material-icons path {
    fill: white;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }
}

.card.matched-card {
  background-color: #0cc32e;
  cursor: default;
  transition: all 0.4s ease-in-out;

  &:hover {
    transform: none;
    box-shadow: none;
  }
}

@media (max-width: 640px) {
  .card {
    min-width: 100px;
    max-width: 200px;
    width: auto;
  }
}