<div class="auth-stack">
  <p-card>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="auth-form">
      <h2>Log In</h2>

      <p-floatlabel>
        <input pInputText id="login-email" formControlName="username" required />
        <label for="login-email">Email</label>
      </p-floatlabel>
      <small class="error-text" *ngIf="form.controls.username.invalid && form.controls.username.touched">
        Please provide a valid email address
      </small>

      <p-floatlabel>
        <p-password
          inputId="login-password"
          formControlName="password"
          [feedback]="false"
          [toggleMask]="true"
          [inputStyleClass]="'w-full'"
          [style]="{ width: '100%' }">
        </p-password>
        <label for="login-password">Password</label>
      </p-floatlabel>
      <small class="error-text" *ngIf="form.controls.password.invalid && form.controls.password.touched">
        Please provide a valid password
      </small>

      <div class="auth-actions">
        <button pButton type="submit" label="Login" [disabled]="!form.valid"></button>
        <a routerLink="/register" class="text-blue-800">Register</a>
      </div>
    </form>
  </p-card>

  <p-card>
    <h2>Login With Google</h2>
    <div class="flex justify-center pb-4 pt-2">
      <button pButton type="button" severity="contrast" label="Continue with Google" (click)="loginWithGoogle()"></button>
    </div>
  </p-card>
</div>