.auth-stack {
  display: grid;
  gap: 1.5rem;
}

:host ::ng-deep .p-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
}

.auth-form {
  display: grid;
  gap: 1rem;
}

.auth-actions {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.btn-facebook,
.btn-facebook:hover,
.btn-facebook:first-child:active {
  background: #3b5998;
  border-color: #3b5998;
  color: #fff;
  width: 300px;
  height: 50px;
}
