<div class="flex items-center p-8" [ngClass]="isHeaderFixed ? 'fixed':'nofixed'" (scroll)="onScroll()">
    <mat-progress-bar mode="determinate" [value]="progress" (animationEnd)="progressBarCompleted()"></mat-progress-bar>
    <mat-icon class="ml-4 cursor-pointer" color="primary" (click)="toggleColumns()">view_column</mat-icon>
    <div class="ml-4">{{ timeLeft }}</div>
</div>

<!-- 2 columns in small screens -->
<div *ngIf="isTwoColumns; else isLargeScreen" class="flex flex-wrap justify-center">
    <app-card class="justify-center basis-6/12 sm:flex" *ngFor="let card of cards" [card]="card" (selectCard)="selectCard($event)"></app-card>
</div>

<!-- More columns in large screens -->
<ng-template #isLargeScreen>
    <div class="flex flex-wrap justify-center">
        <app-card *ngFor="let card of cards" [card]="card" (selectCard)="selectCard($event)"></app-card>
    </div>
</ng-template>