@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

a[ng-reflect-router-link] {
  color: blue;
  font-weight: 700;
  margin-left: 12px;
}